@import '~scss/colors.scss';
@import '~scss/variables.scss';

.date {
  border-radius: 999px;
  transition: all 0.2s;
  cursor: pointer;

  &.open {
    background: $palette-1!important;
    color: #fff!important;
  }

  &.due {
    background: $palette-2!important;
    color: #fff!important;
  }

  &.closed {
    background: $palette-4!important;
    color: #fff!important;
  }

  &.open.due {
    background: linear-gradient(0.25turn, $palette-1, $palette-2)!important;
    color: #fff!important;
  }

  &.due.closed {
    background: linear-gradient(0.25turn, $palette-2, $palette-4)!important;
    color: #fff!important;
  }

  &.due.closed.open {
    background: linear-gradient(0.25turn, $palette-4, $palette-1, $palette-2)!important;
    color: #fff!important;
  }
}

.date:hover {
  background: $color-soft-grey;
}

.day {
  font-weight: 500;
  font-size: 90%;
}

.date.current-day {
  font-weight: $font-weight-heavy;
  color: $palette-4;
}

.arrow {
  font-size: 120%;
  transition: 0.3s;
  cursor: pointer;

  &.double {
    font-size: 140%;
  }
}

.arrow:hover {
  color: $palette-4;
}

.return-month {
  font-weight: $font-weight-heavy;
  transition: $time-mid;
  cursor: pointer;

  &:hover {
    color: $palette-4;
  }
}
