@import '~scss/colors.scss';

.sidenav {
  border-radius: 999px;
  background: $palette-2-bg;
}

.sidenav-icon {
  border-radius: 20px;
  font-size: 160%;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.23s;
  color: $palette-2-dark;
}

.sidenav-icon:hover {
  color: $palette-4;
}

.sidenav-icon.selected {
  color: $palette-4;
}
