<div class="row justify-content-center">
  <div class="col-6">
    <div class="sidenav text-center py-5">
      <i class="fas fa-chalkboard sidenav-icon selected"></i>
      <div><i class="fas fa-tasks sidenav-icon"></i></div>
      <div><i class="fas fa-book sidenav-icon"></i></div>
      <div><i class="far fa-calendar sidenav-icon"></i></div>
      <div><i class="fas fa-user-friends sidenav-icon"></i></div>
      <i class="far fa-comment-dots sidenav-icon mb-5"></i>

      <div><i class="fas fa-cog sidenav-icon mt-5"></i></div>
      <div><i class="far fa-question-circle sidenav-icon"></i></div>
    </div>
  </div>
</div>
