<!-- The divs are literally just to make elements move to a new line. -->
<div class="row pl-3">
  <div class="col-12">
    <div class="sidenav mt-card text-center py-5">
      <i class="fas fa-chalkboard sidenav-icon mt-4" [ngClass]="{'selected': currentDashParam === 'courses'}"
          [routerLink]="['/dashboard/courses']" data-toggle="tooltip" data-placement="right" title="Dashboard"></i>
      <div>
        <i class="fas fa-bullhorn sidenav-icon" [ngClass]="{'selected': currentDashParam === 'announcements'}"
            [routerLink]="['/dashboard/announcements']" data-toggle="tooltip" data-placement="right" title="Announcements"></i>
      </div>
      <div><i class="fas fa-tasks sidenav-icon" data-toggle="tooltip" data-placement="right" title="Tasks"></i></div>
      <i class="far fa-calendar sidenav-icon" data-toggle="tooltip" data-placement="right" title="Calendar"></i>
      <i class="fas fa-user-friends sidenav-icon" data-toggle="tooltip" data-placement="right" title="Friends"></i>
      <i class="far fa-comment-dots sidenav-icon mb-5" data-toggle="tooltip" data-placement="right" title="Messages"></i>

      <i class="fas fa-cog sidenav-icon mt-5" [ngClass]="{'selected': currentDashParam === 'settings'}"
          [routerLink]="['/dashboard/settings']" data-toggle="tooltip" data-placement="right" title="Settings"></i>
      <i class="far fa-question-circle sidenav-icon mb-4" data-toggle="tooltip" data-placement="right" title="Help Mode"></i>
    </div>
  </div>
</div>
