<!-- The divs are literally just to make elements move to a new line. -->
<div class="row pl-3">
  <div class="col-12">
    <div class="sidenav mt-card text-center py-5">
      <i class="fas fa-chalkboard sidenav-icon mt-4" [ngClass]="{'selected': currentDashParam === 'courses'}"
          [routerLink]="['/dashboard/courses']" matTooltip="Dashboard" [matTooltipPosition]="'right'" matTooltipClass="mt-tooltip-1"></i>
      <div>
        <i class="fas fa-bullhorn sidenav-icon" [ngClass]="{'selected': currentDashParam === 'announcements'}"
            [routerLink]="['/dashboard/announcements']" matTooltip="Announcements" [matTooltipPosition]="'right'" matTooltipClass="mt-tooltip-1"></i>
      </div>
      <div>
        <i class="fas fa-tasks sidenav-icon" [ngClass]="{'selected': currentDashParam === 'tasks'}"
          [routerLink]="['/dashboard/tasks']"  matTooltip="Tasks" [matTooltipPosition]="'right'" matTooltipClass="mt-tooltip-1"></i>
      </div>
      <div>
        <i class="far fa-calendar sidenav-icon" [ngClass]="{'selected': currentDashParam === 'calendar'}"
          [routerLink]="['/dashboard/calendar']"  matTooltip="Calendar" [matTooltipPosition]="'right'" matTooltipClass="mt-tooltip-1"></i>
      </div>
      <div>
        <i class="fas fa-user-friends sidenav-icon" matTooltip="Friends" [matTooltipPosition]="'right'" matTooltipClass="mt-tooltip-1"></i>
      </div>
      <div>
        <i class="far fa-comment-dots sidenav-icon mb-5" matTooltip="Messages" [matTooltipPosition]="'right'" matTooltipClass="mt-tooltip-1"></i>
      </div>

      <div>
        <i class="fas fa-cog sidenav-icon mt-5" [ngClass]="{'selected': currentDashParam === 'settings'}"
            [routerLink]="['/dashboard/settings']" matTooltip="Settings" [matTooltipPosition]="'right'" matTooltipClass="mt-tooltip-1"></i>
      </div>
      <i class="far fa-question-circle sidenav-icon mb-4" matTooltip="Help Mode" [matTooltipPosition]="'right'" matTooltipClass="mt-tooltip-1"></i>
    </div>
  </div>
</div>
