<app-ctx-menu-general>
  <section class="row" *ngIf="mode === 'create'">
    <div class="col-12">
      <h4 class="pl-2 mb-3">Enroll Student</h4>
      <input class="form-control mt-ctx-field" placeholder="Enter student ID here" [(ngModel)]="studentIDField">
    </div>
  </section>

  <section class="row mt-3" *ngIf="mode === 'create'">
    <div class="col-12 text-center">
      <button class="btn mt-btn-1-filled w-100" [disabled]="!studentIDField.length"
        (click)="onEnrollStudentPressed()">
        Enroll Student
      </button>
    </div>
  </section>

  <section class="row" *ngIf="mode === 'view'">
    <div class="col-12">
      <h4 class="pl-2 mb-3">Enroll Student</h4>
      <input class="form-control mt-ctx-field" placeholder="Enter student ID here" [(ngModel)]="studentIDField">
    </div>
  </section>

  <section class="row mt-3" *ngIf="mode === 'view'">
    <div class="col-12 text-center">
      <button class="btn mt-btn-1-filled w-100">Enroll Student</button>
    </div>
  </section>
</app-ctx-menu-general>
