@import '~scss/colors';
@import '~scss/variables';

.subtitle {
  color: $text-soft;
  font-size: 90%;
}

.icon-container {
  border-radius: $border-radius;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 200%;
}
