@import '~scss/colors';
@import '~scss/variables';

:host {
  $box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  background: $palette-2-bg!important;
  min-height: 630px;
  box-shadow: $box-shadow;
  display: block;
  border-radius: $border-radius;
  overflow: hidden;
  // padding: 15px 14px;
}

:host-context(.module) {
  padding: 15px 14px;
}

:host-context(.content-textarea) {
  min-height: 500px;
  resize: none;
  padding-left: 16px!important;
}
