<div class="card-container" (mouseover)="cardHovered=true" (mouseout)="cardHovered=false"
      [style.background]="cardHovered ? course.iconBgColor : 'rgba(255, 255, 255, 0)'">
  <section class="mt-card p-2">
    <div class="row pb-2">
      <div class="col-12 text-center">
        <div class="course-icon-container py-3" [style.background]="course.iconBgColor" (mouseover)="iconHovered=true"
              (mouseout)="iconHovered=false" [style.border-color]="iconHovered ? course.iconColor : 'rgba(255, 255, 255, 0)'">
          <i class="{{ course.icon }} course-icon" [style.color]="course.iconColor"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 name-container">
        <span class="name">{{ course.name }}</span>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-12">
        <i class="fas fa-info-circle action-icon mr-2"></i>
        <i class="fas fa-ellipsis-h action-icon float-right"></i>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-12 text-center">
      <button class="btn add-button w-100" (mouseover)="addButtonHovered=true" (mouseout)="addButtonHovered=false"
              [style.opacity]="cardHovered ? '1' : '0'" [style.color]="addButtonHovered ? course.iconColor : ''">
        <i class="fas fa-plus"></i> Add
      </button>
    </div>
  </section>
</div>
