<div class="row">
  <div class="col-12 mt-card mt-ctx-menu py-3">
    <section class="row">
      <div class="col-12">
        <h4 class="pl-2 mb-3">Create an Assignment</h4>
        <input class="form-control mt-ctx-field mb-2" placeholder="Assignment Name"/>
      </div>

      <div class="col-12">
        <textarea placeholder="Assignment Description" class="form-control content-textarea mt-ctx-field"></textarea>
      </div>
    </section>

    <section class="row mt-3">
      <div class="col-12 text-center">
        <button class="btn mt-btn-1-filled w-100">
          <div class="mt-loader-1"></div>
        </button>
      </div>
    </section>
  </div>
</div>
