@import '~scss/colors';
@import '~scss/variables';

.content-textarea {
  min-height: 220px;
  resize: none;
  padding-left: 16px!important;
}

.assign-type {
  color: $palette-1;
}

.header-1 {
  color: $palette-1;
}

.textual-form {
  width: 90px!important;
  color: $palette-1!important;
  font-size: 24px;
  font-weight: $font-weight-medium;
  text-align: center;
  padding: 8px 10px!important;
  background: $transparent!important;
  border-radius: 0!important;
  border: none!important;
  border-bottom: 2px solid $palette-1-light!important;
  transition: $time-fast!important;

  &::placeholder {
    transition: $time-mid;
    color: $palette-1-light!important;
  }

  &:hover:not(:focus) {
    border-color: $palette-1!important;
  }

  &:focus {
    border-radius: 13px!important;
    background: $main-bg-color!important;
  }
}

.type-select {
  font-size: 160%;
  margin-bottom: 10px;

  &.type-1 {
    color: $palette-1;
  }

  &.type-2 {
    color: $palette-2;
  }

  &.type-4 {
    color: $palette-4;
  }
}
