<nav class="navbar navbar-expand-md navbar-light bg-light py-4">
  <div class="container-fluid">
    <article class="row justify-content-center w-100">

      <section class="col-3">
        <a class="navbar-brand" href="#">Astria</a>
      </section>

      <section class="col-4">
        <input class="form-control py-3" placeholder="Search"/>
      </section>

      <section class="col-3 text-right my-auto">
        <i class="far fa-bell icon mx-2"></i>
        <span class="icon-group">
          <span class="dropdown">
            <i class="fas fa-user-alt icon ml-2 icon-group dropdown-toggle" data-toggle="dropdown"></i>
            <div class="dropdown-menu dropdown-menu-right as-dropdown-menu">

              <a class="dropdown-item top" href="#">
                <i class="fas fa-user-alt dropdown-icon"></i> Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-comment-dots dropdown-icon"></i> Feedback
              </a>
              <a class="dropdown-item bottom logout" (click)="logOut()">Log Out</a>

            </div>
          </span>
        </span>
      </section>

    </article>
  </div>
</nav>
