@import '~scss/colors';

.navbar-brand {
  font-weight: 500;
}

.navbar {
  background: $main-bg-color!important;
}

.icon {
  font-size: 140%;
  color: $text-main;
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  color: $palette-4;
}

.caret {
  font-size: 80%;
  color: $text-main;
  transition: all 0.15s;
}

.icon-group {
  cursor: pointer;
  transition: all 0.2s;
}

.icon-group:hover * {
  color: $palette-4;
}
