@import '~scss/colors';
@import '~scss/variables';

.navbar-brand {
  font-weight: 500;
  color: $text-main;
}

.navbar {
  background: $main-bg-color!important;
}

.icon {
  font-size: 140%;
  color: $text-main;
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  color: $palette-4;
}

.caret {
  font-size: 80%;
  color: $text-main;
  transition: all 0.15s;
}

.icon-group {
  cursor: pointer;
  transition: all 0.2s;
}

.icon-group:hover * {
  color: $palette-4;
}

.dropdown-item {
  font-size: 17px;
  font-weight: $font-weight-light;
}

.dropdown-item:hover {
  color: $palette-3!important;
}

.dropdown-item:hover .dropdown-icon {
  color: $palette-3!important;
  transition: $time-fast;
}

.dropdown-icon {
  margin-right: 5px;
}

.dropdown-item:hover.logout {
  color: #f9501a!important;
  background: #f1f1f1;
}
