<nav class="navbar navbar-expand-md navbar-light bg-light py-4">
  <div class="container-fluid">
    <div class="row justify-content-center w-100">
      <div class="col-4">
        <a class="navbar-brand" href="#">Astria</a>
      </div>
      <div class="col-4">
        <input class="form-control as-searchbar py-3" placeholder="Search"/>
      </div>
      <div class="col-4 text-right my-auto">
        <i class="far fa-comment-dots icon mx-2"></i>
        <i class="far fa-bell icon mx-2"></i>
        <i class="fas fa-user-alt icon ml-2"></i>
        <i class="fas fa-chevron-down icon"></i>
      </div>
    </div>
  </div>
</nav>
