<div class="row justify-content-center mt-5">
  <div class="col-4 text-center">
    <div class="img-thumbnail bean-container py-4" [routerLink]="['/dashboard']">
      <h2><b>404</b></h2>
      <h2>You seem to be lost!</h2>
      <div class="row justify-content-center">
        <div class="col-8">
          <img src="https://www.kroger.com/product/images/xlarge/front/0003940001614" class="img-fluid">
        </div>
      </div>
      <div class="click-text">
        Click on the beans and we'll take you back.
      </div>
    </div>
  </div>
</div>
