@import '~scss/colors';
@import '~scss/variables';

@import '~scss/mixins/text-underline';

$create-course-height: 325px;

$nav-and-create: $create-course-height + $navbar-height;

.create-course {
  color: $palette-1;
  @include text-underline(4px, $time-mid, $palette-1);
}

.desc-field {
  min-height: 160px;
  resize: none;
}

.course-form-btn {
  min-width: 110px;
}

.create-course-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: $create-course-height;
}

.icons-container {
  overflow-y: auto;
  height: $nav-and-create;
}
