<!-- INSTRUCTOR COURSE - PLURAL -->
<article class="row" *ngIf="courses && courses.length === 0 && !createCourseMode">
  <div class="col-12">
    <h2>
      It looks like you haven't created any courses!<br><br>
      <span class="create-course" (click)="createCourseMode=true">Create one here</span>
    </h2>
  </div>
</article>

<article class="row">
  <section [ngClass]="{'col-6': createCourseMode, 'col-12': !createCourseMode}" *ngIf="courses.length">
    <div class="row">
      <app-course-card [course]="course" [courseLink]="getCourseLink(course.courseCode)"
        *ngFor="let course of courses" class="px-4 py-2"
        [ngClass]="{'col-6': createCourseMode, 'col-3': !createCourseMode}">
      </app-course-card>
      <app-course-card (createCourseClicked)="changeCourseMode($event)"
        [ngClass]="{'col-6': createCourseMode, 'col-3': !createCourseMode}" class="px-4 py-2">
      </app-course-card>
    </div>
  </section>

  <section class="col-6 text-center" *ngIf="createCourseMode">
    <section class="create-course-container">
      <input class="form-control my-2" placeholder="Course Name" [(ngModel)]="courseNameField"/>
      <textarea class="form-control desc-field my-2" placeholder="Course Description" [(ngModel)]="courseDescField"></textarea>

      <button class="btn mt-btn-cancel mr-1 course-form-btn" (click)="cancelAddCourse()">
        <b>Cancel</b>
      </button>

      <button class="btn mt-btn-4 ml-1 course-form-btn" [disabled]="!courseNameField.length || !courseDescField.length" (click)="sendNewCourse()">
        <b>Send</b>
      </button>

      <div class="row my-3">
        <div class="col-1 my-auto">
          <i class="fas fa-chevron-left"></i>
        </div>

        <div class="col px-3" *ngFor="let color of getColorOffset(); let i = index;">
          <app-color-select [color]="color" [selected]="i === selectedColorIndex" (click)="setColor(i)"></app-color-select>
        </div>

        <div class="col-1 my-auto">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <h2>Select an icon:</h2>
        </div>
      </div>
    </section>

    <div class="row mt-3 px-3 icons-container">
      <app-icon-card class="col-6 px-4 py-2" *ngFor="let icon of icons"
        (click)="selectIcon(icon)" [icon]="icon" [selected]="icon === selectedIcon" [color]="selectedColor">
      </app-icon-card>
    </div>

  </section>
</article>
