@mixin text-underline($width, $transition) {
  border-bottom: $width solid #fff;
  border-bottom: $width solid rgba(#fff,0);
  cursor: pointer;
  transition: all $transition;
}

@mixin text-underline-h($color) {
  border-color: $color;
}
