<div class="row py-3 no-gutters w-100">
  <div class="col-4 text-center selector-container">
    <i class="fas fa-chevron-up d-block selector-arrow" (click)="incrementHour()"></i>
    <input (keydown)="limitHourField($event)" (focusout)="hourFocusOut()" (paste)="$event.preventDefault()"
        class="form-control mt-form-inline" [(ngModel)]="hourString">
    <i class="fas fa-chevron-down d-block selector-arrow" (click)="decrementHour()"></i>
  </div>
  <div class="col-4 text-center selector-container">
    <i class="fas fa-chevron-up d-block selector-arrow" (click)="incrementMinute()"></i>
    <input (keydown)="limitMinuteField($event)" (focusout)="minuteFocusOut()" (paste)="$event.preventDefault()"
        class="form-control mt-form-inline" [(ngModel)]="minuteString">
    <i class="fas fa-chevron-down d-block selector-arrow" (click)="decrementMinute()"></i>
  </div>
  <div class="col-4 text-center selector-container">
    <i class="fas fa-chevron-up d-block selector-arrow" (click)="changeMeridiem()"></i>
    <input (keydown)="$event.preventDefault()" class="form-control mt-form-inline" [(ngModel)]="meridiemString">
    <i class="fas fa-chevron-down d-block selector-arrow" (click)="changeMeridiem()"></i>
  </div>
</div>
