@import '~scss/variables';
@import '~scss/colors';

.course-bg {
  border-radius: 20px;
}

.flavor-text {
  color: #b8b8b8;
}

.professor-text {
  font-weight: 700;
  color: #3a3a3a;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s;
  cursor: pointer;
}

.course-icon {
  font-size: 700%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.course-icon-container {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.3s;
  border-radius: 20px;
}

.misc-icon {
  font-size: 120%;
  transition: all 0.25s;
  color: $text-main;
  cursor: pointer;
}

.misc-icon:hover {
  color: $palette-4;
}

.tag {
  border-radius: 999px;
  cursor: pointer;
  font-weight: $font-weight-light;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0);
}

.tag-container {
  position: relative;
  width: 100%;
}

.course-name {
  border-bottom: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
  cursor: pointer;
}

.test-card {
  border-radius: 19px;
  background: #fff;
  transition: all 0.9s;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
