.course-bg {
  border-radius: 20px;
}

.flavor-text {
  color: #b8b8b8;
}

.professor-text {
  font-weight: 700;
  color: #3a3a3a;
}

.course-icon {
  font-size: 700%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.misc-icon {
  font-size: 120%;
  transition: all 0.25s;
}

.tag {
  border-radius: 999px;
}
