<section class="row mb-3 mt-card hover select py-3 px-1" (click)="onClick()" [routerLink]="[url]">
  <div class="col-3">
    <div class="course-icon-container h-100" [style.background]="course.iconBgColor" (mouseover)="iconHovered=true"
          (mouseout)="iconHovered=false" [style.border-color]="iconHovered ? course.iconColor : 'rgba(255, 255, 255, 0)'">
      <i class="{{ course.icon }} course-icon" [style.color]="course.iconColor"></i>
    </div>
  </div>

  <div class="col-9">
    <div class="row pt-1">
      <div class="col-9">
        <h5>
          <span class="course-name"
                (mouseover)="titleHovered=true"
                (mouseout)="titleHovered=false"
                [style.border-color]="titleHovered ? course.iconColor : 'rgba(255, 255, 255, 0)'">
            {{ course.name }}
          </span>
        </h5>
      </div>
      <div class="col-3 text-right">
        <i class="far fa-star misc-icon mr-4" (click)="testClick(); $event.stopPropagation()"></i>
        <i class="fas fa-ellipsis-v misc-icon"></i>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <span class="flavor-text">
          {{ course.description }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 teach-text">
        Taught by
        <span class="professor-text" (mouseover)="instructorHovered=true" (mouseout)="instructorHovered=false"
              [style.border-color]="instructorHovered ? course.iconColor : 'rgba(255, 255, 255, 0)'">
          {{ course.instructors }}
        </span>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12">
        <span class="tag px-3 py-1 mr-2" *ngFor="let tag of course.tags"
          [style.color]="course.iconColor" [style.background]="course.iconBgColor">
          {{ tag }}
        </span>
      </div>
    </div>
  </div>
</section>
