@import '~scss/variables';

.course-bg {
  border-radius: 20px;
}

.flavor-text {
  color: #b8b8b8;
}

.professor-text {
  font-weight: 700;
  color: #3a3a3a;
}

.course-icon {
  font-size: 700%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.misc-icon {
  font-size: 120%;
  transition: all 0.25s;
}

.tag {
  border-radius: 999px;
  cursor: pointer;
  font-weight: $font-weight-light;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0);
}

.tag:not(:hover) {
  background: rgba(255, 255, 255, 0);
}

.course-name {
  border-bottom: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
  cursor: pointer;
}
