@import '~scss/variables';

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-icon {
  font-size: 210%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-icon-space {
  position: relative;
  border-radius: $border-radius;
}

.double-line-height {
  $line-height: 30px;
  height: $line-height * 2!important;
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
