<section class="row justify-content-center mb-2">
  <div class="col-9">
    <h3 class="text-left pl-3">Upcoming Events</h3>
  </div>
  <div class="col-3 my-auto">
    <div class="text-right pr-3">
      <span style="color: #acacac;">See All</span>
    </div>
  </div>
</section>

<!--
<article class="container-fluid">
  <section class="row justify-content-center mb-3" *ngFor="let event of events">
    <div class="col-11 mt-card hover select py-3">
      <div class="row is-flex mx-0 pb-3">
        <div class="col-3 card-icon-space" [style.background]="event.iconBgColor">
          <i class="{{ event.icon }} card-icon" [style.color]="event.iconColor"></i>
        </div>
        <div class="col-9">
          <h3>{{ event.header }}</h3>
        </div>
      </div>
      <div class="row is-flex mx-0">
        <div class="col-12 px-0">
          {{ event.details }}
        </div>
      </div>
    </div>
  </section>
</article>
-->


<article class="container-fluid">
  <section class="row justify-content-center mb-3" *ngFor="let announcement of announcements">
    <div class="col-11 mt-card hover select py-3">
      <div class="row is-flex mx-0 pb-3">
        <div class="col-3 card-icon-space double-line-height" [style.background]="announcement.iconBgColor">
          <i class="{{ announcement.icon }} card-icon" [style.color]="announcement.iconColor"></i>
        </div>
        <div class="col-9 double-line-height">
          <h3 class="my-auto">{{ announcement.header }}</h3>
        </div>
      </div>
      <div class="row is-flex mx-0">
        <div class="col-12 px-0">
          {{ announcement.description }}
        </div>
      </div>
    </div>
  </section>
</article>
