<section class="row justify-content-center mb-2">
  <div class="col-9">
    <h3 class="text-left pl-3">Upcoming Events</h3>
  </div>
  <div class="col-3 my-auto">
    <div class="text-right pr-3">
      <span style="color: #acacac;">See All</span>
    </div>
  </div>
</section>

<article class="container-fluid" *ngIf="announcements && announcements.length">
  <section class="row justify-content-center mb-3" *ngFor="let announcement of announcements">
    <div class="col-11 mt-card hover select py-3" title="{{ announcement.header }}" (click)="onAnnouncementClicked(announcement)">
      <div class="row is-flex mx-0 pb-3">
        <div class="col-2 card-icon-space double-line-height" [style.background]="announcement.iconBgColor">
          <i class="{{ announcement.icon }} card-icon" [style.color]="announcement.iconColor"></i>
        </div>
        <div class="col-10 double-line-height">
          <h3 class="my-auto header py-1">{{ announcement.header }}</h3>
        </div>
      </div>
      <div class="row is-flex mx-0">
        <div class="col-12 px-0">
          <span class="desc">{{ announcement.description }}</span>
        </div>
      </div>
    </div>
  </section>
</article>

<article class="container-fluid" *ngIf="announcements && !announcements.length">
  <section class="row my-4">
    <div class="col text-center">
      <h5 class="no-ancmnt-text">No Announcements</h5>
    </div>
  </section>
</article>
