<a class="row mt-card hover select py-3 no-style" *ngIf="course" [routerLink]="[courseLink]">
  <div class="col-12">
    <div class="course-icon-container text-center py-2" [style.background]="course.iconBgColor" (mouseover)="iconHovered=true"
          (mouseout)="iconHovered=false" [style.border-color]="iconHovered ? course.iconColor : 'rgba(255, 255, 255, 0)'">
      <i class="{{ course.icon }} course-icon" [style.color]="course.iconColor"></i>
    </div>
  </div>
  <div class="col-12 mt-3">
    <h4 class="text-center">{{ course.name }}</h4>
  </div>
</a>

<a class="row mt-card hover select py-3" *ngIf="!course" (click)="sendCreateCourseClicked()">
  <div class="col-12">
    <div class="course-icon-container text-center py-2">
      <i class="fas fa-plus course-icon add"></i>
    </div>
  </div>
  <div class="col-12 mt-3">
    <h4 class="text-center">Create Course</h4>
  </div>
</a>
