@import '~scss/variables';

$default-grey: #a4a4a4;

$default-select: #1618f2;
$default-select-bg: #d6d7ff;

.icon {
  font-size: 800%;
  color: $default-grey;
  transition: $time-mid;

  &.selected {
    color: $default-select;
  }
}

.icon-container {
  $bg-color: #f1f1f1;

  background: $bg-color;
  border-radius: $border-radius;
  cursor: pointer;
  transition: $time-mid;
  border: 1px solid $bg-color;

  &:hover {
    border-color: $default-grey;
  }

  &.selected {
    border-color: $default-select;
    background: $default-select-bg;
  }
}
