@import '~scss/colors';
@import '~scss/variables';

@mixin mt-button($btn-color, $btn-text-color) {
  border-radius: 999px;
  border-color: $btn-color;
  color: $btn-color;
  padding: 5px 25px!important;
  transition: all $time-mid;

  &:hover {
    background: $btn-color;
    color: $btn-text-color;
  }

  &:disabled {
    pointer-events: none;
  }
}

@mixin mt-btn-filled($btn-color, $btn-txt-color, $btn-hvr-color) {
  border-radius: 999px;
  background: $btn-color;
  color: $btn-txt-color;
  padding: 5px 25px!important;
  transition: all $time-mid;

  &:hover {
    background: $btn-hvr-color;
    color: $btn-txt-color;
  }

  &:disabled {
    pointer-events: none;
  }
}

@mixin mt-btn-sm-1($btn-color, $btn-txt-color, $btn-hvr-color) {
  border-radius: 999px;
  color: $btn-color;
  border-color: $btn-color;
  font-size: 90%;
  padding: 2px 15px!important;

  &:hover {
    background: $btn-color;
    color: $btn-txt-color;
  }

  &.filled {
    background: $btn-color;
    color: $btn-txt-color;
    transition: $time-mid;

    &:hover {
      background: $btn-hvr-color;
      color: $btn-txt-color;
      border-color: $btn-hvr-color;
    }
  }

  &:disabled {
    pointer-events: none;
  }
}

.mt-btn-1 {
  @include mt-button($palette-1, #fff);
}

.mt-btn-4 {
  @include mt-button($palette-4, #fff);
}

.mt-btn-1-filled {
  @include mt-btn-filled($palette-1, #fff, $palette-1-dark);
}

.mt-btn-cancel {
  @include mt-button($mt-red, #fff);
}

.mt-btn-cancel-filled {
  @include mt-btn-filled($mt-red, #fff, $mt-red-dark);
}

.mt-btn-sm-1 {
  @include mt-btn-sm-1($palette-1, #fff, $palette-1-dark);
}
