@import '~scss/colors';
@import '~scss/variables';

.mt-form-inline {
  padding: 0!important;
  text-align: center;
  color: $text-main;
  border-radius: 0!important;
  border: none!important;
  transition: $time-fast;
  background: $transparent!important;
  font-size: 24px;
  font-weight: $font-weight-medium;

  &::placeholder {
    transition: $time-mid;
    color: $palette-1-light!important;
  }

  &:hover:not(:focus) {
    border-color: $palette-1!important;
    color: $palette-1;
    background: $transparent!important;
  }

  &:focus {
    color: $palette-1;
    border-radius: 13px!important;
    background: $main-bg-color!important;
  }
}

.textual-form {
  width: 90px!important;
  color: $palette-1!important;
  font-size: 24px;
  font-weight: $font-weight-medium;
  text-align: center;
  padding: 8px 10px!important;
  background: $transparent!important;
  border-radius: 0!important;
  border: none!important;
  border-bottom: 2px solid $palette-1-light!important;
  transition: $time-fast!important;

  &::placeholder {
    transition: $time-mid;
    color: $palette-1-light!important;
  }

  &:hover:not(:focus) {
    border-color: $palette-1!important;
  }

  &:focus {
    border-radius: 13px!important;
    background: $main-bg-color!important;
  }
}
