@import '~scss/colors';
@import '~scss/variables';

.mt-progress {
  background: $color-soft-grey;
  width: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  height: 20px;
}

.mt-progress-bar {
  background: $palette-1;
  height: inherit;
  text-align: center;
  color: white;
  display: inline-block;
}
