@import '~scss/colors';

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: $palette-1;
}

.tooltip {
  .tooltip-inner {
    background: $palette-1;
  }

  .right > .tooltip-arrow {
    border-right-color: $palette-1;
  }

  .left > .tooltip-arrow {
    border-left-color: $palette-1;
  }

  .top > .tooltip-arrow {
    border-top-color: $palette-1;
  }

  .bottom >.tooltip-arrow {
    border-bottom-color: $palette-1;
  }
}
