@import '~scss/colors';
@import '~scss/variables';

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: $palette-1;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: $palette-1;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: $palette-1;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $palette-1;
}

.tooltip {
  .tooltip-inner {
    background: $palette-1;
  }

  .right > .tooltip-arrow {
    border-right-color: $palette-1;
  }

  .left > .tooltip-arrow {
    border-left-color: $palette-1;
  }

  .top > .tooltip-arrow {
    border-top-color: $palette-1;
  }

  .bottom >.tooltip-arrow {
    border-bottom-color: $palette-1;
  }
}

.mt-tooltip-1 {
  background: $palette-1;
  font-weight: $font-weight-medium;
  color: #fff;
  font-size: 80%;
}
