<article class="container-fluid d-flex full-height gradient-bg">
  <div class="align-self-center w-100">

    <section class="row justify-content-center mb-4">
      <div class="col-12 col-md-8 text-center">
        <h1 class="d-none d-sm-block">
          <span class="welcome-header one">Welcome</span>
          <span class="welcome-header two"> to Meteor!</span>
        </h1>

        <h2 class="d-block d-sm-none">
          <span class="welcome-header one">Welcome</span>
          <span class="welcome-header two"> to Meteor!</span>
        </h2>
      </div>
    </section>

    <section class="row justify-content-center" *ngIf="mode === 'login'">
      <div class="col-10 col-sm-8 col-md-6 text-center">
        <input class="form-control mb-3" placeholder="Email" [(ngModel)]="loginField"/>
        <input class="form-control mb-4 pass-field" [ngClass]="{'pass-field-full': loginPassField.length}"
          placeholder="Password" type="password" [(ngModel)]="loginPassField"/>
        <button class="btn mt-btn-4 mb-2" (click)="sendLogin()"><b>Log In</b></button>
        <span class="d-block"><a class="black" (click)="mode='register'">I'd like to register!</a></span>
      </div>
    </section>

    <section class="row justify-content-center" *ngIf="mode === 'register'">
      <div class="col-10 col-sm-8 col-md-6 text-center">
        <input class="form-control mb-3" placeholder="Full Name" [(ngModel)]="nameField" name="nameField"/>
        <input class="form-control mb-3" placeholder="Email" [(ngModel)]="emailField" name="emailField"/>
        <input class="form-control mb-3" placeholder="University Name" [(ngModel)]="schoolIDField" name="schoolIDField"/>

        <input class="form-control mb-3 pass-field" [ngClass]="{'pass-field-full': passwordField.length}"
          placeholder="Password" type="password" [(ngModel)]="passwordField" name="passwordField"/>
        <input class="form-control mb-4 pass-field" [ngClass]="{'pass-field-full': confirmPassField.length}"
          placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassField" name="confirmPassField"/>

        <button class="btn mt-btn-4 mb-2" (click)="sendRegister()"><b>Sign Up</b></button>
        <span class="d-block"><a class="black" (click)="mode='login'">I'd like to log in!</a></span>
      </div>
    </section>

  </div>
</article>
