@import '~scss/colors';
@import '~scss/variables';
@import '~scss/mixins/text-underline';

.full-height {
  height: 100vh;
}

.welcome-header.one {
  color: $palette-1;
}

.welcome-header.two {
  color: $palette-4;
}

.gradient-bg {
  background-image:
    linear-gradient(
      113deg,
      $palette-2,
      $palette-2 15%,
      $palette-2 15%,
      $palette-2 47.5%,
      $palette-3 47.5%
    );
}

.register-text {
  @include text-underline(2px, $time-mid);
}

.register-text:hover {
  @include text-underline-h($palette-1);
}
