<app-navbar *ngIf="showTopNav" [adminAuth]="adminAuth"></app-navbar>


<div class="container-fluid main bg">
  <div class="row">
    <div class="col-auto sidenav" *ngIf="showSideNav">
      <app-sidenav [onDashboard]="onDashboard" [currentDashParam]="currentDashParam" (sendParamChange)="changeDashParam($event)">
      </app-sidenav>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--
If the route changes but the component does not, the above code is the culprit
<div class="container-fluid main bg">
  <router-outlet class="grow"></router-outlet>
</div>
-->
