@import '~scss/colors';

.main {
  margin: 0!important;
  padding: 0!important;
}

.sidenav {
  width: 200px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.bg {
  background: $main-bg-color;
}
