<div class="container px-4 py-2">
  <div class="row pb-2">
    <div class="col-2 text-left my-auto">
      <i class="fas fa-chevron-left arrow" (click)="leftArrowClicked()"></i>
    </div>

    <div class="col-8 text-center">
      <h3>{{ months[month - 1] }} {{ year }}</h3>
    </div>

    <div class="col-2 text-right my-auto">
      <i class="fas fa-chevron-right arrow" (click)="rightArrowClicked()"></i>
    </div>
  </div>

  <section class="row">
    <div *ngFor="let day of days" class="col text-center">
      <span class="day">{{ day }}</span>
    </div>
  </section>

  <section *ngFor="let week of currentWeeks" class="row py-2">
    <div *ngFor="let day of week" class="col text-center px-2">
      <div class="date"
          [ngClass]="{'current-day': this.month === this.currentMonth && this.year === this.currentYear && day === this.currentDay}">
        <span *ngIf="day != 0">{{ day }}</span>
      </div>
    </div>
  </section>
</div>
