@import '~scss/colors.scss';

.date {
  border-radius: 999px;
  transition: all 0.2s;
  cursor: pointer;
}

.date:hover {
  background: $palette-4;
  color: #fff;
}

.day {
  font-weight: 500;
  font-size: 80%;
}
