<article class="sticky-pos pr-3">
  <section class="mt-card p-4">
    <section class="row">
      <div class="col">
        <div class="mt-progress">
          <div class="mt-progress-bar" [style.width]="percentCompleted + '%'"
              *ngIf="percentCompleted < 100 && percentCompleted > 0">
            {{ percentCompleted }}%
          </div>
          <div class="mt-progress-bar" [style.width]="percentCompleted + '%'" *ngIf="percentCompleted === 100">
            All Done!
          </div>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="col-auto">
        <div class="questions-container mt-3 px-4 py-2 d-inline-block">
          <div *ngFor="let question of questions; let i = index;" class="question my-2">
            <i class="far fa-flag flag mr-2" (click)="question.flagged = true" *ngIf="!question.flagged"></i>
            <i class="fas fa-flag flag selected mr-2" (click)="question.flagged = false" *ngIf="question.flagged"></i>

            <i class="fas fa-check-circle check-answered mr-2" *ngIf="question.answered"></i>
            <i class="far fa-check-circle check-unanswered mr-2" *ngIf="!question.answered"></i>
            <a (click)="questionClicked(i + 1)" class="primary" matTooltip="{{ question.question }}"
                [matTooltipPosition]="'right'" matTooltipClass="mt-tooltip-1">
              Question {{ i + 1 }}
            </a>
          </div>
        </div>

        <button class="btn mt-btn-1 d-block mx-auto mt-2" (click)="submitButtonPressed()">
          Submit
        </button>
      </div>

      <div class="col pt-3">
        <div class="img-container" (click)="imgContainerClicked()" [ngClass]="{'h-100': !stressRelief}">
          <img src="{{ cutePugs[pugIndex] }}" class="img-fluid" *ngIf="stressRelief"/>
          <div *ngIf="!stressRelief" class="p-4 relief-text">
            Click here to activate stress relief. Click again to change the picture.
          </div>
        </div>
      </div>
    </section>
  </section>
</article>
