<div class="container-fluid px-0">
  <section class="row">
    <div class="col">
      <h3>{{ data.title }}</h3>
    </div>
  </section>

  <section class="row">
    <div class="col">
      <p>
        {{ data.description }}
      </p>
    </div>
  </section>

  <section class="row">
    <div class="col text-center">
      <button class="btn mt-btn-cancel-filled mx-2" (click)="close()">Cancel</button>
      <button class="btn mt-btn-1 mx-2" (click)="submit()">Oh yeah. Submit it.</button>
    </div>
  </section>
</div>
