@import '~scss/colors';
@import '~scss/variables';

.nav-option.top {
  border-bottom: 2px solid $transparent;
  color: $palette-4-light;
  transition: $time-mid;
  cursor: pointer;

  padding: 5px 20px;

  font-weight: $font-weight-medium;
  font-size: 110%;

  &.selected {
    border-color: $palette-4;
    color: $palette-4;
  }

  &:hover:not(.selected) {
    border-color: $palette-4-light;
  }
}

.announcement-date {
  color: #c9c9c9;
}

.due-date {
  color: $text-soft;
  font-weight: $font-weight-medium;
}

.assign-points {
  font-weight: $font-weight-medium;
}

.assign-settings {
  font-size: 140%;
  transition: $time-mid;

  &:hover {
    color: $palette-1;
    cursor: pointer;
  }
}

$assign-card-height: 137px;

.assign-container {
  background: $palette-2-bg;
  border-radius: $border-radius;
  transition: $time-mid;
  height: $assign-card-height - 2px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .assign-options {
    align-self: baseline;
    opacity: 0;
    transition: $time-fast;

    .option {
      font-weight: $font-weight-medium;
      font-size: 115%;
      color: $palette-1-light;
      transition: $time-mid;
      margin-right: 25px;

      &:hover {
        color: $palette-1;
      }
    }
  }

  &:hover {
    height: $assign-card-height + 40px;

    .assign-options {
      opacity: 1;
    }
  }
}

.assign-card {
  max-height: $assign-card-height;
}

.reset-edit-button {
  cursor: pointer;
  transition: $time-mid;
  opacity: 0.3;
  color: $mt-red;

  &:hover {
    opacity: 1;
  }
}

.add-question-btn {
  color: $palette-1-light;
  cursor: pointer;
  transition: $time-mid;
  border-radius: $border-radius;
  border: 1px solid $palette-1-light;

  &:hover {
    background: $palette-1-bg;
    color: $palette-1;
    border-color: $palette-1-bg;
  }
}

.layout-form {
  background: $transparent!important;
  border: none!important;
  border-radius: 0!important;
  transition: $time-mid;
  border-bottom: 2px solid $palette-1-bg!important;
  padding-left: 3px!important;
  caret-color: $palette-1;

  &:hover:not(:focus) {
    border-color: $palette-1!important;
  }

  &:focus {
    border-color: $palette-1!important;
    box-shadow: none!important;
  }
}

.layout-type-selector {
  border: 1px solid $color-soft-grey;
  border-radius: $border-radius;
  font-weight: $font-weight-medium;
  padding: 6px 15px;
  transition: $time-mid;
  cursor: pointer;

  &:hover {
    background: $color-soft-grey;
  }
}

.add-answer {
  color: $palette-1-light;
  cursor: pointer;
  transition: $time-mid;
  border-radius: $border-radius;
  border: 1px solid $palette-1-light;

  &:hover {
    background: $palette-1-bg;
    color: $palette-1;
    border-color: $palette-1-bg;
  }
}

.radio-button {
  font-size: 110%;
  cursor: pointer;
  transition: $time-mid;

  &.selected {
    color: $palette-1;
  }

  &:hover {
    color: $palette-1;
  }
}

.answer-correct {
  color: $mt-green;
}
