<div [ngSwitch]="layout.type">
  <article *ngSwitchCase="'multichoice'">
    <section class="row" *ngFor="let answer of layout.answers">
      <div class="col-12">
        <div class="answer-container">
          <span class="answer-multi" [ngClass]="{'selected': answer['selected']}"
                (click)="setAnswer(answer)">
            <i class="far fa-dot-circle" *ngIf="answer['selected']"></i>
            <i class="far fa-circle icon" *ngIf="!answer['selected']"></i>
            {{ answer.text }}
          </span>
        </div>
      </div>
    </section>
  </article>

  <article *ngSwitchCase="'checkbox'">
    <section class="row" *ngFor="let answer of layout.answers">
      <div class="col-12">
        <div class="answer-container">
          <span class="answer-multi" [ngClass]="{'selected': answer['selected']}" (click)="setAnswer(answer)">
            <i class="far fa-square" *ngIf="!answer['selected']"></i>
            <i class="far fa-check-square icon" *ngIf="answer['selected']"></i>
            {{ answer.text }}
          </span>
        </div>
      </div>
    </section>
  </article>

  <article *ngSwitchCase="'shortanswer'">
    <section class="row">
      <div class="col-12">
        <input class="form-control mt-form" placeholder="Your answer" [(ngModel)]="layout.userAnswer"
            (input)="textFieldInput($event.target.value)"/>
      </div>
    </section>
  </article>

  <article *ngSwitchCase="'essay'">
    <section class="row">
      <div class="col-12">
        <textarea class="form-control mt-form" placeholder="Your answer" [(ngModel)]="layout.userAnswer"
            (input)="textFieldInput($event.target.value)"></textarea>
      </div>
    </section>
  </article>
</div>
