@mixin as-anchor() {
  border-bottom: 2px solid white;
  border-bottom: 2px solid rgba(#fff, 0);
  transition: $time-mid;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

@mixin as-anchor-colors() {
  &.black {
    color: $text-main;

    &:hover {
      border-color: $palette-1;
    }
  }

  &.primary {
    color: $palette-1;

    &:hover {
      border-color: $palette-1;
    }
  }

  &.secondary {
    color: $palette-2;

    &:hover {
      border-color: $palette-2;
    }
  }

  &.tertiary {
    color: $palette-4;

    &:hover {
      border-color: $palette-4;
    }
  }
}

a {
  @include as-anchor();
  @include as-anchor-colors();
}

a {
    &.no-style:link, &.no-style:visited {
      text-decoration: inherit;
      color: inherit;
    }
}
