@import '~scss/variables';
@import '~scss/colors';

@mixin as-input($border-radius: 999px, $pad-x: 23px, $pad-y: 10px) {
  background: #f0f0f0!important;
  border-color: #f0f0f0!important;
  border-radius: $border-radius!important;
  padding: $pad-y $pad-x!important;
  transition: all $time-mid!important;

  &:hover {
    background: #fafafa!important;
    border-color: #fafafa!important;
  }

  &:focus {
    $box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)!important;

    border-color: #fff!important;
    background: #fff!important;
    box-shadow: $box-shadow;
  }
}

input {
  @include as-input(999px);
}

textarea {
  @include as-input(15px, $pad-y: 13px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
