@import '~scss/variables';
@import '~scss/colors';

@mixin as-input($border-radius: 999px, $pad-x: 23px, $pad-y: 20px) {
  background: #f0f0f0!important;
  border-color: #f0f0f0!important;
  border-radius: $border-radius!important;
  padding: $pad-y $pad-x!important;
  transition: all $time-mid!important;

  &:hover {
    background: #fafafa!important;
    border-color: #fafafa!important;
  }

  &:focus {
    $box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)!important;

    border-color: #fff!important;
    background: #fff!important;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
  }
}

input {
  @include as-input(999px);
}

textarea {
  @include as-input(15px, $pad-y: 13px);
}

/*
::-webkit-resizer {
  border: 2px solid black;
  background: red;
  box-shadow: 0 0 5px 5px blue;
  outline: 2px solid yellow;
}
*/
