@import '~scss/colors';
@import '~scss/variables';

.nav-option.top {
  border-bottom: 2px solid $transparent;
  color: $palette-4-light;
  transition: $time-mid;
  cursor: pointer;

  padding: 5px 20px;

  font-weight: $font-weight-medium;
  font-size: 110%;

  &.selected {
    border-color: $palette-4;
    color: $palette-4;
  }

  &:hover:not(.selected) {
    border-color: $palette-4-light;
  }
}

.announcement-date {
  color: #c9c9c9;
}

$assign-card-height: 137px;

.assign-container {
  background: $palette-2-bg;
  border-radius: $border-radius;
  transition: $time-mid;
  height: $assign-card-height - 2px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .assign-options {
    align-self: baseline;
    opacity: 0;
    transition: $time-fast;

    .option {
      font-weight: $font-weight-medium;
      font-size: 115%;
      color: $palette-1-light;
      transition: $time-mid;
      margin-right: 25px;

      &:hover {
        color: $palette-1;
      }
    }
  }

  &:hover {
    height: $assign-card-height + 40px;

    .assign-options {
      opacity: 1;
    }
  }
}

.icon-background {
  border-radius: $border-radius;
}

.card-icon {
  font-size: 360%;
}

.card-icon-space {
  position: relative;
  border-radius: $border-radius;
}

// Makes columns relative, Bootstrap 5 doesn't come with this default anymore
.col-rel {
  position: relative;
}

.trunc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

// This is needed to make text truncation work.
// More info here: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
.flex-child {
  min-width: 0;
}
