<article *ngIf="course">
  <section class="row pl-1 pr-4 mt-3 mb-4">

    <div class="col px-2" *ngFor="let option of topNavOptions; let i = index;">
      <div class="nav-option top text-center align-middle" (click)="selectedNavIndex=i"
        [ngClass]="{'selected': selectedNavIndex === i}">{{ option }}</div>
    </div>

  </section>

  <section class="row">
    <div class="col-7 mt-break-word" *ngIf="topNavOptions[selectedNavIndex] === course.name">
      <markdown [data]="course.introText" class="markdown"></markdown>
    </div>

    <div class="col-7 mt-break-word" *ngIf="topNavOptions[selectedNavIndex] === 'Syllabus'">
      <markdown [data]="course.syllabus" class="markdown"></markdown>
    </div>

    <div class="col-7" *ngIf="topNavOptions[selectedNavIndex] === 'Announcements'">
      <!-- Create Announcement -->

      <section *ngFor="let announcement of announcements" class="row my-3">
        <div class="col-12">
          <article class="mt-card hover select py-2" (click)="openAnnouncement(announcement)">
            <section class="row px-2">
              <div class="col-2">
                <div class="icon-background p-3 text-center" [style.background]="announcement.iconBgColor">
                  <i class="{{ announcement.icon }} card-icon" [style.color]="announcement.iconColor"></i>
                </div>
              </div>
              <div class="col flex-child">
                <h3>{{ announcement.header }}</h3>
                <div class="trunc">{{ announcement.description }}</div>
              </div>
            </section>
          </article>
        </div>
      </section>
      <!--
      <section class="row px-3 mb-4" *ngIf="newAnnouncementDetails.length || newAnnouncementHeading.length">
        <h4 class="col-12 px-3 mb-3">New Announcement</h4>
        <div class="col-12 mt-card hover select px-4 py-2">
          <h5 class="text-center">{{ newAnnouncementHeading }}</h5>
          <markdown [data]="newAnnouncementDetails" class="markdown"></markdown>
        </div>
      </section>

      <h3 class="text-center">Announcements</h3>

      <section class="row px-3 mb-3" *ngFor="let announcement of announcements">
        <div class="col-12 px-4 pt-3 mt-card select hover">
          <h4>{{ announcement.header }}</h4>
          <markdown [data]="announcement.description"></markdown>
          <p class="announcement-date">{{ getAnnouncementDate(announcement.time) }}</p>
        </div>
      </section>
      -->
    </div>

    <div class="col-7" *ngIf="topNavOptions[selectedNavIndex] === 'Assignments'">
      <article *ngIf="!openedAssignment">
        <section class="row">
          <div class="col-12">
            <h2 class="pl-2">Current</h2>
          </div>
        </section>
        <section class="row px-3 mb-3" *ngFor="let assignment of assignments">
          <div class="assign-container col-12 p-0">
            <div class="px-4 py-3 mt-card select hover assign-card" (click)="selectAssignment(assignment)">
              <h4>{{ assignment.name }}</h4>
              <div class="text-truncate pb-3">{{ assignment.description }}</div>
              <div>
                <span class="due-date">Due {{ getAssignmentDueDate(assignment.dueDate) }}</span>
                <span class="float-right">
                  <span *ngIf="assignment.graded" class="assign-points mr-2">{{ assignment.points }} points</span>
                </span>
              </div>
            </div>

            <div class="px-4 pb-2 assign-options mt-auto">
              <span class="option" (click)="startAssignment(assignment)">Start Assignment</span>
              <span class="option">Continue Assignment</span>
            </div>
          </div>
        </section>
      </article>

      <article *ngIf="openedAssignment">
        <section class="row mb-4">
          <div class="col-12">
            <span class="assign-back pl-2" (click)="closeAssignment()">
              <i class="fas fa-arrow-left"></i>
              Back to Assignments
            </span>
          </div>
        </section>
        <section class="row pl-2">
          <div [ngClass]="{'col-12': !assignmentStarted, 'd-none': assignmentStarted}">
            <h2>{{ openedAssignment.name }}</h2>
            <p>
              {{ openedAssignment.description }}
            </p>
            <button class="btn mt-btn-1" [disabled]="layoutLoading || !openedLayout"
                (click)="assignmentStarted=true">
              {{ startButtonText }}
            </button>
          </div>

          <div class="col-12" *ngIf="assignmentStarted && openedLayout && assignmentLoaded">
            <div class="row">
              <app-assignment-layout [layout]="getActiveLayout" (emitAutosave)="getAutosave($event)">
              </app-assignment-layout>
            </div>
          </div>
        </section>
      </article>
    </div>

    <section class="col sticky-pos" *ngIf="openedLayout">
      <app-st-ctx-assignments [percentCompleted]="getAnswersCompleted" [questions]="openedLayout.objects"
          (emitIDClicked)="scrollToID($event)" (emitSubmitButton)="submitAssignment()"
          *ngIf="topNavOptions[selectedNavIndex] === 'Assignments' && assignmentStarted && openedLayout">
      </app-st-ctx-assignments>
    </section>
  </section>
</article>
