<section class="row mb-3">
  <div class="col-12">
    <h2>Announcements</h2>
  </div>
</section>

<div *ngIf="announcements.length">
  <section *ngFor="let announcement of announcements" class="row my-3">
    <div class="col-12">
      <article class="mt-card hover select py-2" (click)="openAnnouncementDialog(announcement)">
        <section class="row px-2">
          <div class="col-2">
            <div class="icon-background p-3 text-center" [style.background]="announcement.iconBgColor">
              <i class="{{ announcement.icon }} card-icon" [style.color]="announcement.iconColor"></i>
            </div>
          </div>
          <div class="col flex-child">
            <h3>{{ announcement.header }}</h3>
            <div class="trunc">{{ announcement.description }}</div>
          </div>
        </section>
      </article>
    </div>
  </section>
</div>

<div *ngIf="!announcements.length">
  <h5 class="text-soft">No Announcements! Maybe check later?</h5>
</div>
