<section class="row mb-3">
  <div class="col-12">
    <h2>Announcements</h2>
  </div>
</section>

<div *ngIf="announcements.length">
  <section *ngFor="let announcement of announcements" class="row my-3">
    <div class="col-12 mt-card hover select py-3" title="{{ announcement.header }}">
      <div class="row px-3">
        <span class="col-2 icon-background d-inline" [style.background]="announcement.iconBgColor">
          <span class="my-auto mx-auto">
            <i class="{{ announcement.icon }} card-icon" [style.color]="announcement.iconColor"></i>
          </span>
        </span>
        <section class="col">
          <div class="row">
            <section class="col-12 mb-2">
              <h3 class="my-auto header py-1 text-truncate">{{ announcement.header }}</h3>
            </section>
            <section class="col-12 pb-2">
              <div class="desc text-truncate">{{ announcement.description }}</div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>

<div *ngIf="!announcements.length">
  <h5 class="text-soft">No Announcements! Maybe check later?</h5>
</div>

<!--
<div *ngIf="announcements">
  <section class="row justify-content-center mb-3" *ngFor="let announcement of announcements">
    <div class="col-11 mt-card hover select py-3" title="{{ announcement.header }}">
      <div class="row is-flex mx-0 pb-3">
        <div class="col-2 card-icon-space double-line-height" [style.background]="announcement.iconBgColor">
          <i class="{{ announcement.icon }} card-icon" [style.color]="announcement.iconColor"></i>
        </div>
        <div class="col-10 double-line-height">
          <h3 class="my-auto header py-1">{{ announcement.header }}</h3>
        </div>
      </div>
      <div class="row is-flex mx-0">
        <div class="col-12 px-0">
          <span class="desc">{{ announcement.description }}</span>
        </div>
      </div>
    </div>
  </section>
</div>
-->
