$main-bg-color: #fefefe;

$text-main: #303030;

$color-primary: #d04fe6;

$palette-1: #365abd;
$palette-2: #1ff1dc;
$palette-3: #fff;
$palette-4: #ff5080;

$palette-1-light: #5674c9;
$palette-1-dark: #1b3c98;

$palette-2-bg: #b5fff8;
$palette-2-dark: #129386;

$palette-4-bg: #ffb8cb;
$palette-4-light: #fca5bd;
$palette-4-dark: #e7285d;

// Specific Components
$input-hover: #7d7d7d;

$as-red: #ed5034;
$mt-red: #ed5034;

$transparent: rgba(255, 255 ,255 ,0);
