// You can add global styles to this file, and also import other style files
@import './_colors';
@import './astria/export';
@import './default/export';
@import './mixins/export';
@import './_variables';

*:focus {
  outline: none!important;
}

html {
  overflow-y: overlay!important;
}

body {
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif!important;
  color: $text-main;
}
