<div class="row">
  <div class="col-1">
    <div class="row justify-content-center">
      <div class="col-6 text-center sidenav py-5">
        <div><i class="far fa-file-alt sidenav-icon"></i></div>
        <div><i class="fas fa-tasks sidenav-icon selected"></i></div>
        <div><i class="fas fa-book sidenav-icon"></i></div>
        <div><i class="far fa-calendar sidenav-icon"></i></div>
        <div><i class="fas fa-user-friends sidenav-icon mb-5"></i></div>

        <div><i class="fas fa-cog sidenav-icon mt-5"></i></div>
        <div><i class="far fa-question-circle sidenav-icon"></i></div>
      </div>
    </div>
  </div>
  <div class="col-7 pr-5">
    <div class="row mb-3">
      <div class="col-12">
        <h2>Courses</h2>
      </div>
    </div>
    <section class="row mb-3">
      <div class="col-3">
        <div class="course-bg h-100">
          <i class="fas fa-palette course-ico"></i>
        </div>
      </div>

      <div class="col-9">
        <div class="row pt-1">
          <div class="col-9">
            <h5>Strategy, Design, Development</h5>
          </div>
          <div class="col-3 text-right">
            <i class="far fa-bookmark course-icon-top mr-4"></i>
            <i class="fas fa-ellipsis-v course-icon-top"></i>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12">
            <span class="flavor-text">
              Learn UX and web design from a guy who doesn't hold a formal degree in literally anything.
              You probably won't learn anything useful.
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 teach-text">
            Taught by <span class="professor-text">Shelby McNotCowan</span>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-9">
            <span class="tag py-1 px-3 mr-1">UX Design</span>
            <span class="tag py-1 px-3 mx-1">UI Design</span>
            <span class="tag py-1 px-3 mx-1">Web Design</span>
          </div>
          <div class="col-3 text-right">
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </section>

    <section class="row mb-3">
      <div class="col-3">
        <div class="course-bg blue h-100">
          <i class="fas fa-calculator course-ico blue"></i>
        </div>
      </div>

      <div class="col-9">
        <div class="row pt-1">
          <div class="col-9">
            <h5>Linear Algebra</h5>
          </div>
          <div class="col-3 text-right">
            <i class="far fa-bookmark course-icon-top mr-4"></i>
            <i class="fas fa-ellipsis-v course-icon-top"></i>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12">
            <span class="flavor-text">
              Matrices, vector spaces, and an introduction to proof-based mathematics. Shoot for an
              A so you can be disappointed when you get a C-.
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 teach-text">
            Taught by <span class="professor-text">Leoncio Quinones</span>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-9">
            <span class="tag blue py-1 px-3 mr-1">Math</span>
            <span class="tag blue py-1 px-3 mx-1">Proof-based</span>
          </div>
          <div class="col-3 text-right">
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
          </div>
        </div>
      </div>
    </section>
    <section class="row mb-3">
      <div class="col-3">
        <div class="course-bg red h-100">
          <i class="fas fa-bong course-ico red"></i>
        </div>
      </div>

      <div class="col-9">
        <div class="row pt-1">
          <div class="col-9">
            <h5>Organic Chemistry</h5>
          </div>
          <div class="col-3 text-right">
            <i class="far fa-bookmark course-icon-top mr-4"></i>
            <i class="fas fa-ellipsis-v course-icon-top"></i>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12">
            <span class="flavor-text">
              We go over the fundamentals of organic chemistry (and a bunch of other stuff you'll hate)
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 teach-text">
            Created by <span class="professor-text">Bradley Davis</span>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-9">
            <span class="tag red py-1 px-3 mr-1">Chemistry</span>
            <span class="tag red py-1 px-3 mx-1">Benzene</span>
            <span class="tag red py-1 px-3 mx-1">Failed Class</span>
          </div>
          <div class="col-3 text-right">
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-4 calendar-view">
    <app-calendar></app-calendar>

    <section class="row mb-3 justify-content-center">
      <div class="col-7">
        <h3 class="text-left">Upcoming Events</h3>
      </div>
      <div class="col-3 my-auto">
        <div class="text-right">
          <span style="color: #acacac;">See All</span>
        </div>
      </div>
    </section>

    <section class="row justify-content-center mb-2">
      <div class="col-10 card">
        <div class="row is-flex pt-2">
          <div class="col-3 text-center my-auto px-3">
            <div class="cis-twitter py-2">
              <i class="fab fa-twitter ci-twitter"></i>
            </div>
          </div>
          <div class="col-9">
            <h3 class="h-100">Send tweet @elonmusk</h3>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-9 offset-3">
            Elon Musk needs to make more flamethrowers!!!
          </div>
        </div>
      </div>
    </section>

    <section class="row justify-content-center">
      <div class="col-10 card">
        <div class="row is-flex pt-2">
          <div class="col-3 text-center my-auto px-3">
            <div class="card-icon-space py-2">
              <i class="fab fa-reddit card-icon"></i>
            </div>
          </div>
          <div class="col-9">
            <h3 class="h-100">Message Dave on Reddit</h3>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-9 offset-3">
            Dave desperately needs a message or something because he's lonely...
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
