@import '~scss/colors';
@import '~scss/variables';

.module-icon-panel {
  cursor: pointer;
  transition: $time-mid;
}

.module-icon-panel:hover {
  background: $palette-4;
  color: #fff;
}

.module-icon-panel:hover:not(.selected) {
  background: $palette-4-bg;
  color: inherit;
}

.module-icon-panel.selected {
  background: $palette-4;
  color: #fff;
}

.module-icon {
  font-size: 180%;
  transition: $time-mid;
}
