@import '~scss/colors.scss';

h2 {
  color: #3a3a3a;
}

h3 {
  color: #3a3a3a;
}

h4 {
  color: #3a3a3a;
}

h5 {
  color: #3a3a3a;
}

.teach-text {
  color: #3a3a3a;
}

.course-icon-top {
  font-size: 120%;
  transition: all 0.25s;
}

.course-ico {
  font-size: 700%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #d339fc;
}

.course-ico.blue {
  color: #3472fe;
}

.course-ico.red {
  color: #ff6161;
}

.course-bg {
  background: #f2c1ff;
  border-radius: 18px;
  width: 100%;
}

.course-bg.blue {
  background: #c4f8ff;
}

.course-bg.red {
  background: #fedede;
}

.course-img {
  width: 100%;
  object-fit: cover;
  background: #f2c1ff;
  border-radius: 18px;
}

.calendar-view {
  background: $palette-2-bg;
  border-radius: 20px;
}

.gold-star {
  color: #ebff00;
}

.tag {
  border-radius: 999px;
  background: #f2c1ff;
  color: #d339fc;
}

.tag.blue {
  color: #3472fe;
  background: #c4f8ff;
}

.tag.red {
  color: #ff6161;
  background: #fedede;
}

.flavor-text {
  color: #b8b8b8;
}

.professor-text {
  font-weight: 700;
  color: #3a3a3a;
}
