<div class="row pt-3">
  <div class="col-1">
    <div class="row justify-content-center">
      <div class="col-6 text-center sidenav py-5">
        <div><i class="far fa-file-alt sidenav-icon"></i></div>
        <div><i class="fas fa-tasks sidenav-icon"></i></div>
        <div><i class="fas fa-book sidenav-icon"></i></div>
        <div><i class="far fa-calendar sidenav-icon"></i></div>
        <div><i class="fas fa-user-friends sidenav-icon mb-5"></i></div>

        <div><i class="fas fa-cog sidenav-icon mt-5"></i></div>
        <div><i class="far fa-question-circle sidenav-icon"></i></div>
      </div>
    </div>
  </div>
  <div class="col-7 pr-5">
    <div class="row">
      <div class="col-12">
        <h2>Design Courses</h2>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12">
        <h5>Filter</h5>
      </div>
    </div>
    <section class="row mb-3">
      <div class="col-3">
        <img src="http://hand.sdcounties.org/files/2019/07/697057-facebook-512.png" class="course-img">
      </div>

      <div class="col-9">
        <div class="row py-3">
          <div class="col-9">
            <h5>Strategy, Design, Development</h5>
          </div>
          <div class="col-3 text-right">
            <i class="far fa-bookmark course-icon-top mr-4"></i>
            <i class="fas fa-ellipsis-v course-icon-top"></i>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-12">
            Learn UX and web design
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            Created by John Davis
          </div>
        </div>
        <div class="row py-3">
          <div class="col-9">
            UX Design UI Design Web Design
          </div>
          <div class="col-3">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            (0.0)
          </div>
        </div>
      </div>
    </section>
    <section class="row mb-3">
      <div class="col-3">
        <img src="http://hand.sdcounties.org/files/2019/07/697057-facebook-512.png" class="course-img">
      </div>

      <div class="col-9">
        <div class="row py-3">
          <div class="col-9">
            <h5>Strategy, Design, Development</h5>
          </div>
          <div class="col-3 text-right">
            <i class="far fa-bookmark course-icon-top mr-4"></i>
            <i class="fas fa-ellipsis-v course-icon-top"></i>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-12">
            Learn UX and web design
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            Created by John Davis
          </div>
        </div>
        <div class="row py-3">
          <div class="col-9">
            UX Design UI Design Web Design
          </div>
          <div class="col-3">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            (0.0)
          </div>
        </div>
      </div>
    </section>
    <section class="row mb-3">
      <div class="col-3">
        <img src="http://hand.sdcounties.org/files/2019/07/697057-facebook-512.png" class="course-img">
      </div>

      <div class="col-9">
        <div class="row py-3">
          <div class="col-9">
            <h5>Strategy, Design, Development</h5>
          </div>
          <div class="col-3 text-right">
            <i class="far fa-bookmark course-icon-top mr-4"></i>
            <i class="fas fa-ellipsis-v course-icon-top"></i>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-12">
            Learn UX and web design
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            Created by John Davis
          </div>
        </div>
        <div class="row py-3">
          <div class="col-9">
            UX Design UI Design Web Design
          </div>
          <div class="col-3">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            (0.0)
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-4 calendar-view">
    <app-calendar></app-calendar>
  </div>
</div>
