@import '~scss/colors.scss';

h2 {
  color: #3a3a3a;
}

h3 {
  color: #3a3a3a;
}

h4 {
  color: #3a3a3a;
}

h5 {
  color: #3a3a3a;
}

.teach-text {
  color: #3a3a3a;
}

.calendar-view {
  background: $palette-2-bg;
  border-radius: 20px;
}
