<div class="row no-gutters">
  <div class="col-8 pr-5">
    <div class="row mb-3">
      <div class="col-12">
        <h2>Courses</h2>
      </div>
    </div>
    <app-course-large [course]="course"></app-course-large>
    <app-course-large [course]="linAl"></app-course-large>
    <app-course-large [course]="oChem"></app-course-large>
  </div>
  <div class="col-4 pr-3">
    <div class="calendar-view pb-1 as-card">
      <app-calendar></app-calendar>
      <app-upcoming-events [events]="[eventOne, eventTwo]"></app-upcoming-events>
    </div>
  </div>
</div>
