@import '~scss/colors';
@import '~scss/variables';

@mixin as-button($btn-color, $btn-text-color) {
  border-radius: 999px;
  border-color: $btn-color;
  color: $btn-color;
  padding: 5px 25px!important;
  transition: all $time-mid;

  &:hover {
    background: $btn-color;
    color: $btn-text-color;
  }

  &:disabled {
    pointer-events: none;
  }
}

.as-btn-1 {
  @include as-button($palette-1, #fff);
}

.as-btn-4 {
  @include as-button($palette-4, #fff);
}

.as-btn-cancel {
  @include as-button($as-red, #fff);
}
