<div class="row">
  <div class="col-12 mt-card context-menu py-3">
    <section class="row">
      <div class="col-12">
        <input class="form-control mt-ctx-field mb-2" placeholder="Announcement Heading" [(ngModel)]="headerField">
      </div>

      <div class="col-12">
        <textarea placeholder="Announcement Details" class="form-control content-textarea mt-ctx-field" [(ngModel)]="descField">
        </textarea>
      </div>
    </section>

    <section class="row mt-3">
      <div class="col-12 text-center">
        <button class="btn mt-btn-1-filled w-100" (click)="sendAnnouncementPressed()"
          [disabled]="!headerField || !descField">
          Send Announcement
        </button>
      </div>
    </section>
  </div>
</div>
